@font-face {
  font-family: headings;
  src: url(./fonts/FontsFree-Net-RequestPersonalUse-axgZo.ttf);
}

:root {
  --darkGreen: #014527;
  --Gold: #d4a95f;
  --pFont: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: #d3d3d3;
}

.navbar {
  display: flex;
  align-items: center;
}

div .logo {
  max-height: 120px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.nav-container {
  width: auto;
  max-height: 200px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-image: linear-gradient(#008375, #004b47);
}

/* Styling for Bootstrap navbar */

nav {
  background-image: linear-gradient(#008375, #004b47);
}

nav .navbar-brand {
  font-family: "Headings";
  color: white;
}

.pages {
  color: var(--Gold) !important;
}

.navbar-toggler {
  background-color: white;
  width: 50px;
  aspect-ratio: 1;
  background-image: url("https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0");
}

/* .homepageImage {
  position: absolute;
} */

/* End of styling for Bootstrap navbar */

/* styling for log in form */

.login {
  display: flex;
  justify-content: flex-end;
}

#login-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 50%;
  flex-wrap: wrap; /*  trying to stack the 2 labels and the button with flex wrap and flex basis @ 50% */
  padding-bottom: 10px;
  font-family: var(--pFont);
  color: white;
  max-width: 150px;
}

#submit-button {
  margin-left: 10px;
}

.login-label {
  margin-right: 5px;
  margin-left: 5px;
}

#submit-button {
  background-color: var(--Gold);
  color: white;
  padding: 3px;
  font-family: var(--pFont);
}

/* end of styling for log in form */

a {
  text-decoration: none;
  color: var(--Gold);
}

h1,
p {
  color: white;
  font-family: var(--pFont);
}

h1 {
  font-family: "headings";
  font-size: 25px;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.body-container .main-row img {
  justify-self: center;
  margin: 0 auto;
}

.column-2 h1 {
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  text-shadow: 2px 2px #000000;
}

.column-2 img {
  margin: 25px;
}

span {
  color: var(--Gold);
}

.column-4 {
  flex-basis: 25%;
  padding: 25px;
  min-width: 200px;
}

.column-4 img {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.featured-products {
  background-color: var(--darkGreen);
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
  margin: 50px;
  color: var(--Gold);
  box-shadow: 15px 15px;
  animation: featured-animated 10s infinite;
}

.featured-products img {
  margin-bottom: 15px;
  /* height: auto;
  width: 100%; */
}

.featured-products h1 {
  color: var(--Gold);
}

.featured-img:hover {
  transform: scale(1.5);
  transition: transform 100ms ease-in-out 5ms;
}
/* animation for the featured products on landing page */
@keyframes featured-animated {
  0% {
    background-color: var(--darkGreen);
  }
  25% {
    background-color: #008375;
  }
  50% {
    background-color: #004b47;
  }
  75% {
    background-color: #008375;
  }
  100% {
    background-color: var(--darkGreen);
  }
}

.footer {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: auto;
  background-image: linear-gradient(#008375, #004b47);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.social-media {
  padding-top: 30px;
}

/* testimonial styling */

.container-testimonials {
  background-color: var(--darkGreen);
  color: white;
  /* text-align: center; */
  font-family: "Headings";
  border: 3px dashed var(--Gold);
  margin-bottom: 25px;
}

.testimonials {
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: var(--darkGreen);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.testimonials div {
  padding: 15px;
  text-align: center;
}

.testimonials h2 {
  font-family: "Headings";
  text-align: center;
}

.container-testimonials h2 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.testimonials div {
  border: 1px black solid;
  height: auto;
  width: 40%;
  background-color: #008375;
}

.testimonials h5 {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 20px;
  padding-left: 25px;
}

.testimonials div p span {
  font-family: "Headings";
  text-align: left;
  padding-bottom: 70px;
}

/* .testimonials div:nth-child(last) {
  float: right;
} */

/* end of testimonial styling */

/* styling for products page */

.column-3 {
  flex-basis: 33.3%;
  padding: 25px;
  min-width: 200px;
}

.column-3 img {
  aspect-ratio: 1;
  width: 100%;
  border-radius: 50%;
}

.products-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
}

.products {
  background-color: var(--darkGreen);
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
  margin: 50px;
  color: var(--Gold);
  box-shadow: 15px 15px;
}

.more-info {
  cursor: pointer;
}

.products img {
  border-radius: 0%;
}

.products .show-details {
  background-color: var(--Gold);
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px white;
}

.show-details a {
  background-color: var(--Gold);
  color: white;
  font-family: var(--pFont);
}

/* end of styling for products page  */

/* Copyright in footer styling */

.copyright {
  text-align: center;
}

/* about us page styling */

.about-div {
  margin: 0 auto;
  background-color: gray;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.float1 {
  float: left;
  max-width: 500px;
  height: auto;
  border: 1px solid black;
  margin-left: 50px;
}
.float2 {
  float: left;
  max-width: 500px;
  height: auto;
  border: 1px solid black;
  margin-left: 110px;
}

.another-div {
  clear: both;
  background-color: rebeccapurple;
  margin-top: 50px;
  height: 150px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
}

.img-div {
  float: left;
}

.img-div img {
  filter: invert(100%);
}

/* end of about us page styling */

/* styling for contact page */

.contact-container {
  width: 80%;
  height: 80%;
  background-color: var(--darkGreen);
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.address {
  padding: 25px;
  color: var(--Gold);
  text-align: center;
}

.img img {
  filter: grayscale(100%);
  width: fit-content;
}

.contact-container img {
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 16px;
  flex-basis: 50%;
}

.social-media-contact {
  flex-basis: 50%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Headings";
  color: var(--Gold);
}

.contact-span {
  font-family: var(--pFont);
  font-size: 20px;
  color: white;
}

.social-media-contact img {
  max-width: 80px;
  padding-top: 25px;
}

.contact-form {
  width: auto;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--darkGreen);
  margin: 0 auto;
  margin-top: 50px;
  color: white;
  font-family: var(--pFont);
  padding-left: 25px;
  border-radius: 16px;
  box-shadow: 15px 15px var(--Gold);
  margin-bottom: 25px;
}

.form {
  margin: 0 auto;
}

label,
input {
  margin-left: 25px;
  font-size: 16px;
  padding-top: 10px;
}

#contact-submit {
  margin-top: 25px;
  border-radius: 16px;
  font-family: var(--pFont);
  padding-bottom: 5px;
  width: 100px;
  height: auto;
  background-color: var(--Gold);
  color: white;
  margin-bottom: 25px;
}

#contact-submit:hover {
  opacity: 0.7;
  cursor: pointer;
}

#message {
  height: 150px;
  width: 300px;
}

/* end of styling for contact page */

/* drop down menu styling */

/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.differentSizes {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-size-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-size-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-size-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* animate the granola image */
/* #granolaImg {
  position: absolute;
  left: -10000px;
} */

/* product page styling for individual products */

.productinfo-heading {
  font-size: 30px;
  text-transform: uppercase;
  font-family: "headings";
}

.product-main {
  height: auto;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: var(--darkGreen);
  border: 1px solid var(--Gold);
  text-align: center;
  padding-top: 50px;
}

.product-main img {
  height: auto;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.product-main button {
  background-color: var(--Gold);
  color: var(--darkGreen);
  font-family: var(--pFont);
  text-transform: uppercase;
  padding: 5px;
  border: 1px solid white;
  border-radius: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

table,
th,
td {
  border: 1px solid white;
  padding: 10px;
  background-color: var(--Gold);
  color: var(--darkGreen);
  font-family: var(--pFont);
}

th {
  font-family: "headings";
  font-size: 15px;
}

.product-main h1 {
  color: var(--Gold);
  text-decoration: wavy;
}

.product-description p {
  font-size: 20px;
  font-family: var(--pFont);
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

table {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.different-sizes {
  margin: 0 auto;
  font-size: 25px;
  font-family: var(--pFont);
}

.courierElement {
  display: none;
}

/* end of styling for individual products */

/* media query for smaller screens */

@media screen and (max-width: 900px) {
  .main-row,
  .column-2,
  .column-4,
  .featured-products {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  .column-2 h1 {
    margin-bottom: 20px;
  }
  .product-main {
    width: 80%;
  }
}
